{% extends "bootstrap/base.html" %}
{% block body_attribs %}
class = "overflow-hidden"
style = "
background-image: url('/static/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;"

{% endblock %}
{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

{% endblock %}
{% block content%}
<center>
    <h1 style = "margin:32px; text-align: center; width:60%; color:white;  ">Patient Test Details</h1>
<div class = "card" style = "width : 80%; padding-top: 32px; padding-bottom: 32px; position: fixed; left:10%;">
<form action = "#" method = "post" style = "width:80%;">

    <div class="container-fluid"> 
      
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <input required type="text" class="form-control" name="patientNameInput" placeholder="Patient Name">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <select  required name="patientSexInput" class="form-control" placeholder = "Type of chest pain">
                    <option  selected disabled style = "color:darkgrey;">Gender</option>
                    <option value = 0>Female</option>
                    <option value = 1>Male</option></select>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <input  required type="number" class="form-control" name="patientAgeInput" placeholder="Age">
            </div>
        </div>
    </div>
    
<br>

    
    <div class="container-fluid"> 
      
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <input required type="number" class="form-control" name="patientTrestbpsInput" placeholder="Resting blood pressure">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <input required type="number" class="form-control" name="patientCholInput" placeholder="Serum Cholestrol">

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <select required name="patientFbsInput" class="form-control" placeholder = "Type of chest pain">
                    <option selected disabled style = "color:darkgrey;">Fasting blood sugar</option>
                    <option value = 1>Greater than 120mg/dl</option>
                    <option value = 0>Less than 120mg/dl</option></select>
            </div>
        </div>
    </div>


    <br>
    
    <div class="container-fluid"> 
      
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <select  required name="patientRestecgInput" class="form-control">
                    <option selected disabled style = "color:darkgrey;">Resting ECG</option>
                    <option value = 0>Normal</option>
                    <option value = 1>ST-T wave abnormality</option>
                    <option value = 2>Left vascular hyperthropy</option>
                </select>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <input required type="number" class="form-control" name="patientThalacInput" placeholder="Maximum Heart Rate">

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <select  required name="patientExangInput" class="form-control">
                    <option selected disabled style = "color:darkgrey;">Exercise Induced Agina</option>
                    <option value = 1>Yes</option>
                    <option value = 0>No</option></select>
            </div>
        </div>
    </div>



    <br>


    <div class="container-fluid"> 
      
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-floating"><input type="decimal" class="form-control" name="patientOldpeakInput" placeholder="ST deperession"></div><br>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <select required name="patientSlopeInput" class="form-control">
                    <option selected disabled style = "color:darkgrey;">Slope of the Peak exercise</option>
                    <option value = 1>Upsloping</option>
                    <option value = 2>Flat</option>
                    <option value = 3>DownSloping</option>
                </select>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <select required name="patientCaInput" class="form-control">
                    <option selected disabled style = "color:darkgrey;">Number of vessels</option>
                    <option value = 0>0</option>
                    <option value = 1>1</option>
                    <option value = 2>2</option>
                    <option value = 3>3</option>
                </select>
            </div>
        </div>
    </div>

    <br>


    <div class= "container-fluid">
        <select required name="patientCpInput" class="form-control" placeholder = "Type of chest pain">
            <option selected disabled>Type of chest pain</option>
            <option value = 0>Typical Angina</option>
            <option value = 1>Atypical Angina</option>
            <option value = 2>Non-Anginal pain</option>
            <option value = 3>Asymptomatic</option></select>
    </div>
<br>

<div class =  "container-fluid">
    <select required name="patientThalInput" class="form-control">
        <option selected disabled style = "color:darkgrey;">Thal</option>
        <option value = 6>Normal</option>
        <option value = 7>Fixed</option>
        <option value = 3>Reversible</option>
        
    </select>
</div>


<br>
<button type="submit" class="btn btn-block btn-danger-outline">Analyze</button>



</form>

</div>
</center>

{% endblock %}